.App {
  text-align: center;
  /* background-color: #2953a8; */
}
.main {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid #09d3ac; */
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.big-checkbox {
  width: 30px !important;
  height: 300px !important;
}
